* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1536px;
    margin: 0 auto;
    
    
}


.header{
    width: 1536px;
    
    background-color: rgb(255, 255, 255);
    padding-bottom: 24px;
    
    
}

.flex {
    display: flex;
}

.logo_block{
    height: 76px;
    align-items: center;
    display: flex;
    width: 305px;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.header__top{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    

}

.header_dop{
    height: 76px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}

.header_dop--left{
    font-size: 16px;
    text-align: right;
    border-right: 1px solid purple;
    padding: 10px;
}

.header_dop--right{
    padding: 10px;

}


.header_dop--right a{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header_dop--right h3{
    font-size: 24px;
}

.header__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;

}

.header__bottom ul{
    display: flex;
    gap: 24px;
    list-style: none;
    text-decoration: none;

}

.header__bottom ul a{
    text-decoration: none;
    color: rgb(46, 43, 43);
    transition: all 0.3s;
}

.header__bottom ul a:hover{
    color: purple;
}

.active{
    color: purple;
}

button{
    background-color: #8B5CF6;
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    color: #fff;
    font-weight: 700px;
}

body{
    background-color: #E5E7EB;
}

.picture{
    width: 756px;
    height: 584px;
    margin-top: 72px;
    text-align: left;
    
}

.picture img{
    height: 352px;
    width: 756px;
    border-radius: 16px;
    margin-top: 16px;

}

.info{
    display: flex;
    gap: 24px;
}

.picture h1{
    font-size: 36px;
    line-height: 40px;
    margin-top: 1px;
    height: 120px;
    width: 656PX;
    
}

.picture p{
    font-size: 20px;
    margin-top: 10px;
    line-height: 28px;
    height: 84px;
    width: 656PX;
}

.calculator{
    width: 756px;
    height: 584px;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 72px;
}

.letopisi{
    text-align: center;
    margin-top: 92px;
    font-size: 30px;
    
}

.letopisi_info{
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
    

.li{
    display: flex;
    height: 136px;
    width: 136px;
}

.li_text{
    height: 104px;
    width: 300px;
    margin: 12px 16px;
}

.li_text h1{
    font-size: 30px;

}

.li_text p{
    font-size: 14px;
    line-height: 20px;
}

.leto{
    display: flex;
}

.text_new{
    text-align: center;
    margin: auto;
    margin-top: 72px;
}

.text_new p{
    width: 756px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
}

.text_new h1{
    font-size: 30px;
}

.gramota{
    display: flex;
    gap: 60px;
    justify-content: center;
    width: 1536px;
}

.gramota img{
    width: 280px;
    height: 375px;
}

.gram{
    font-size: 18px;
    width: 366px;
    text-align: center;
    margin-top: 24px;
}

.button_gramota{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.button_gramota button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    font-size: 16px;
   
}

.ponos22 {
    width: 756px;
    background-color: var(--gray-50);
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    display: flex;
}

.input, input {
    width: 100%;
    height: 48px;
    
}
.inputs_block {
    display: flex;
    margin: 24px auto;
    gap: 24px;
}
.form_button {
    width: 100%;
}

.xxxl{
    margin-top: 24px;
    font-size: 30px;
}

.ponos22 p{
    margin-top: 24px;
    width: 350px;
    text-align: center;
    line-height: 24px;
}

.form_button{
    font-size: 16px;
}

.eblya{
    display: flex;
    flex-direction: column;
    margin: auto;
}